<mat-toolbar color="accent" class="header">
  <span>Angular PWA Example (Fetch API <a href="https://jsonplaceholder.typicode.com/posts" target="_blank">Post</a>)</span>
</mat-toolbar>

<table mat-table [dataSource]="dataSource" matSort id="table">
  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> User ID. </th>
    <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <ng-container matColumnDef="body">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Body </th>
    <td mat-cell *matCellDef="let element"> {{element.body}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="col"></tr>
  <tr mat-row *matRowDef="let row; columns: col;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[15, 20, 50, 100]" showFirstLastButtons></mat-paginator>
